html, body, div{
    margin: 0;
}

ol, ul {
    list-style: none;
}

:root {
    --background-height: 100vh;
    --viewport-height: 100vh;
    --primary-color: #000000;
    --secondary-color: #000124;
    --light-color: rgba(255, 255, 255, 0.812);
    --font-primary: 'Raleway';
    --font-secondary: 'Homemade Apple';
}

body:before {
    content: '';
    position: fixed;
    width: 100vw;
    height: var(--background-height);
    background: linear-gradient(157deg, var(--primary-color) 0%, var(--secondary-color) 100%);
}

body:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: opacity 3.625s ease-in-out, visibility 3.625s;
}
body.is-loading:after {
    opacity: 1;
    visibility: visible;
}
#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: var(--viewport-height);
    overflow: hidden;
    position: relative;
    z-index: 2;
    -webkit-overflow-scrolling: touch;
}   
@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-VariableFont_wght.ttf') format('woff2')

}

@font-face {
    font-family: 'Homemade Apple';
    src: url('fonts/HomemadeApple-Regular.ttf') format('woff2')
}

#main {
    --alignment: center;
    --flex-alignment: center;
    --indent-left: 1;
    --indent-right: 1;
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 100%;
    text-align: var(--alignment);
    z-index: 1;
    transition: opacity 2s ease-in-out 0s;
}

#main > .inner {
    --padding-horizontal: 4rem;
    --padding-vertical: 4rem;
    --spacing: 0rem;
    --width: 75rem;
    border-radius: var(--border-radius-tl) var(--border-radius-tr) var(--border-radius-br) var(--border-radius-bl);
    max-width: 100%;
    position: relative;
    width: var(--width);
    z-index: 1;
    padding: var(--padding-vertical) var(--padding-horizontal);
}
#main > .inner > * {
    margin: 0;
}

body.is-loading #main {
    opacity: 0;
}
h1.style1, h2.style1, h3.style1, p.style1 {
    color: #FFFFFF;
    font-family: var(--font-primary);
    font-size: 3.5em;
    line-height: 1.25;
    font-weight: 300;
}
h1.style2, h2.style2, h3.style2, p.style2 {
    color: var(--light-color);
    font-family: var(--font-secondary);
    font-size: 1em;
    line-height: 1.75;
    font-weight: 400;
}

.container.style2 {
    display: flex;
    width: 100%;
    min-height: 21rem;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.container.style2:not(:last-child) {
    margin-bottom: 0.75rem !important;
}

.container.style2 > .wrapper > .inner {
    --gutters: 2rem;
    --padding-vertical: 7.7rem;
    --spacing: 1.75rem;
    padding: var(--padding-vertical) var(--padding-horizontal);
}

.container.style2.default > .wrapper > .inner > * {
    margin-bottom: var(--spacing);
    margin-top: var(--spacing);
}

hr {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 1rem;
    border: 0;
}
hr.style1:before {
    content: '';
    height: 8rem;
    background-color: rgba(214, 212, 212, 0.349);
    width: 1px;
}
.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: var(--flex-alignment);
    letter-spacing: 0;
    padding: 0;
}

.icons li a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    height: 1em;
    width: 1em;
    transition: color var(--transition-duration), background-color var(--transition-duration), border-color var(--transition-duration);
}
.icons li a svg {
    height: 100%;
    width: 100%;
    fill: #E3E3E3;
    transition: fill var(--transition-duration);
}
.icons li a .label {
    display: none;
}
.icons.style1 {
    font-size: 1.375em;
    gap: 0.5rem;
}
.icons li a:hover svg {
    fill: rgba(217, 217, 217, 0.49) !important;
}

@media (max-width: 736px) {
    html {
        font-size: 12pt;
    }
#main > .inner {
    padding: 1rem;
    }
h1.style1, h2.style1, h3.style1, p.style1 {
    font-size: 3em;
    }

.container.style2 {
    min-height: 15.75rem;
    }
.container.style2:not(:last-child) {
    margin-bottom: 0.5625rem !important;
    }
.container.style2 > .wrapper > .inner {
    --gutters: 2rem;
    --padding-vertical: 3.5rem;
    --spacing: 1.75rem;
    }
hr.style1:before {
height: 6rem;
 }

 }
@media (max-width: 480px) {
    #main > .inner {
    --spacing: 0rem;
    }
    .container.style2 > .wrapper > .inner {
    --spacing: 1.53125rem;
    }
}
@media (max-width: 360px) {
    #main > .inner {
        padding: 0.75rem;
    }
}
